{% extends "../base.html" %}
{% block header %}
<section class="banner-area relative" id="home">	
        <div class="overlay overlay-bg"></div>
        <div class="container">				
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Maliyet		
                    </h1>	
                    <p class="text-white link-nav"><a href="/">Ana Sayfa </a>  
                        <span class="lnr lnr-arrow-right"></span>  <a href="elements.html"> Maliyet</a></p>
                </div>	
            </div>
        </div>
    </section>
							{% endblock %}
{% block content %}
 <form method="POST" class="post-form">
 <br> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
{% endblock content %}
